<!doctype html>
<html>

<head>
    <title>Mi applicación</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">!-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            background-color: #17263d;
            color: #FFF;

        }
    </style>
</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-md-offset-3">
                <h1 class="text-center" style="color:#fff">Mi applicación</h1>
                <p></p>
                <a href="/login" class="btn btn-default btn-lg" style="width:100%"><span class="fa fa-user"></span> Iniciar sesion</a>
                <p></p>
                <a href="/signup" class="btn btn-default btn-lg" style="width:100%"><span class="fa fa-user"></span> Crear cuenta</a>
                <p></p>
                <a href="/auth/facebook" class="btn btn-primary btn-lg" style="width:100%"><span class="fa fa-facebook"></span> Facebook</a>
                <p></p>
                <a href="/auth/twitter" class="btn btn-info btn-lg" style="width:100%"><span class="fa fa-twitter"></span> Twitter</a>
                <p></p>
                <a href="/auth/google" class="btn btn-danger btn-lg" style="width:100%"><span class="fa fa-google-plus"></span> Google+</a>
            </div>
        </div>
    </div>
</body>

</html>
